body {
  font-family: Arial;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.svg-jarra {
  height: 250px;
  min-height: 250px;
  width: 200px;
  padding: 0;
  float: left;
  margin-right: 1em;
}

#log {
  width: 400px;
  font-size: 90%;
  float: left;
  max-height: 250px;
  overflow-y: auto;
}

#controls {
  margin-top: 2em;
  border: 1px solid #ddd;
  background: #fafafa;
  padding: 1em;
}

#controls td {
  padding-right: 2em;
}

input {
  border: 1px solid #ddd;
  padding: 0.5em;
}

button {
  border: 1px solid #b71c1c;
  background: #f44336;
  padding: 1em;
  color: #fff;
  text-transform: uppercase;
}